.box {
    background-color: #f0f0f0;
    padding: 110px 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    gap: 80px;
    align-items: center;
}

.info-1 h2 {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

.info-1 p {
    color: #0d339b;
    margin-top: 20px;
}
.info-2 span {
    font-weight: bold;
}

.info-2 input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 85%;
}
.info-2 button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056b3 ;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.info-2 button:hover {
    background-color: #007bff;
}

.institutions {
    display: flex;
    justify-content: center;
}
.institution-card {
    margin-top: 60px;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.institution-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
}

.institution-card img {
    height: 220px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
}

