main {
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.container-principal {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.sidebar h2 span {
    font-size: 2rem;
    color: #04489b;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-top: 25px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #0170e7;
}
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2 {
    font-size: 1.8rem;
    color: #04489b;
    margin-bottom: 1rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card .info {
    padding: 5px;
}

.card .info p {
    margin: 10px 0;
    font-size: 1rem;
}
.menuEscolhido{
  font-weight: 700;
}

@media (max-width: 768px) {
/* Definindo a barra lateral inicialmente oculta para mobile */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta a barra lateral à esquerda */
    width: 250px;
    height: 100%;
    background-color: #e8eff9;
    transition: left 0.3s ease; /* Animação de deslizamento */
    padding: 15px;
    z-index: 1000;

}

/* Barra lateral visível ao clicar no botão */
.sidebar.open {
    left: 0; /* Move a sidebar para a posição original */
}

/* Estilo do botão de menu no mobile */
#sidebar-toggle {
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
    background-color:#5096ec;
    border: none;
    color: white;
    font-size: 16px;
    z-index: 10;
    text-transform: capitalize;
}
#sidebar-toggle i{
 font-size: 16px;
 margin-right: 5px;
}
#sidebar-close {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 30px;
    cursor: pointer;
    z-index: 1010; 
}
.sidebar h2{
    margin-top: 18px;
}
}