
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
:root {
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #cccccc;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #666666;
    --bs-gray-800: #343a40;
    --bs-gray-900: #242424;
    --color-principal: #084088;
    --btn-confirmacao: #14b63a;
  }

@media (min-width: 768px) {
  /* Esconde o dropdown no desktop */
  .navbar-navCss .nav-item .dropdown-menu {
    display: none !important;
  }
}

.cta-text h2,
.cta-text p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .cta-horizontal {
    background-image: url('../background/backimg.png');
    background-size: cover;
    align-items: center;
    padding: 60px;
  }
  
  .cta-horizontal .cta-text h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
   color: #dfdfdf;
  }
  
  .cta-horizontal .cta-text p {
    margin: 5px 0 0;
    font-size: 1.1rem;
    color: #dfdfdf;
  }
  
  .cta-horizontal .cta-button {
    background-color: #142568;
    color: #fff;
    text-decoration: none;
    padding: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .cta-horizontal .cta-button:hover {
    background-color: #1c3288;
  }

  
  /*senha segura*/
  .senha-requisitos ul {
    margin-top: 10px;
    padding: 0;
    font-size: 11px;
  }

  .senha-requisitos li {
    color: #084088; /* Vermelho para requisitos não cumpridos */
  }

  .senha-requisitos li.completo {
    color: #7fd871; /* Azul para requisitos cumpridos */
  }

  .senha-requisitos li.incompleto {
    color: #084088; /* Vermelho para requisitos não cumpridos */
  }

  #icone-seguranca {
    font-size: 13px;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: -2px;
  }
  /*logomarca*/

  .logo-image {
    width: 80%; /* tamanho para mobile */
    margin-left: -15px;
  }
  
  @media (min-width: 768px) {
    .logo-image {
      width: 70%; /* tamanho menor para telas maiores */
      margin-left: -15px;
      margin-top: -10px;
    }
  }
  
/*Botão Flutuante WhatsApp*/
.floating-button {
  position: fixed; /* Para fixar o botão na tela */
  bottom: 20px; /* Distância do fundo da tela */
  right: 20px;  /* Distância da direita da tela */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

/* Estilo do link do botão */
.whatsapp-button {
  background-color: #25D366; /* Cor do botão */
  border-radius: 50%; /* Faz o botão ser redondo */
  width: 60px; /* Largura do botão */
  height: 60px; /* Altura do botão */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para efeito flutuante */
  text-decoration: none; /* Remove sublinhado do texto */
}

/*HEADER index.php*/
body{
  margin:0;
}
.headerCss {
    display: flex;
    justify-content: space-between;
}
.navbar-brand img {
    width: 100px;
    margin-top: 10px;
}
.hero-section h3{
  padding-top: 55px!important;
  padding-bottom: 10px!important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-section img{
  width: 100%;
  height: 100%;
}
.hero-section p{
  color: var(--bs-gray-400);
}

.navbar-navCss{
  display:flex;
  list-style: none;
  font-weight:400;
  margin-top: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.nav-item a{
    text-decoration: none;
    color: #fff!important;
    position: relative;
    font-size: 16px;
    flex-wrap: nowrap;
}


/*HEADER BACKGROUND index.php*/
.background-image {
  height: 580px;
}

.background-image::before,
.background-image-cadastrar::before {
  content: ""; 
  background-image: url('../background/backimg.png');
  background-size: cover;
  background-position: center top; /* Move a imagem para cima */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; /* Define a altura para cortar a parte inferior */
  z-index: -1;
  filter: brightness(82%);
  clip-path: inset(0 0 0 0); /* Corta 10% da parte inferior */
}
/*HERO*/
.hero-section h1{
 font-size: 60px;
 text-transform: uppercase;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero-section p{
  font-size: 20px;
  font-weight: 300;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 90%;
  }
.btn-color {
  background-color: var(--bs-gray-900)!important;
}
.text-principal {
  color: var(--color-principal)!important;
}
.btn-subColor {
  background-color: var(--bs-gray-200)!important;
}

/*Section CURSOS DISPONIVEIS*/
  .section-locais {
    background-color: #f8f8f8;
    padding: 25px 0; /* Adiciona um pouco de espaçamento vertical */
}
.section-locais .title-locais h1 {
    color: #000000;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.locais-container .card-local {
    margin-bottom: 20px;
}
.locais-container .card {
    box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.1);
    border: none; 
}
.locais-container .btn-alugar{
  background-color: #020202; 
  color: #fff;
  border: none; 
  cursor: pointer;
}
.carousel .card-img-top {
  height: 220px;
  border-radius: 3px;
  object-fit: cover;
}
.locais-container .card-img-top {
    height: 220px;
    border-radius: 3px;
    object-fit: cover;
}
.locais-container .card-title {
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.locais-container .card-text{
  color: #555555;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.locais-container .custom-li,
.carousel .custom-li {
  background-color: rgb(25, 25, 25) !important;
  color: #ececec !important;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
  padding: 7px;
  list-style: none;
  width: 47%;
  margin-left: -4px;
  text-align: center;
  font-size: 14px;
}
.locais-container .custom-li label {
  cursor: pointer;
}

.btn-escolherCarro{
  background-color: #0f2e70!important;
  color: #fff!important;
  border: none;
  padding: 15px !important;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-top: 23px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-escolherCarro{
  padding: 10px !important;
  margin-top: 15px!important;
}

.btn-escolherCarro:hover{
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #b3bfea;
}

@media (max-width: 768px) {
  /* Torna o dropdown visível apenas no mobile */
  .navbar-navCss .nav-item {
    display: block;
    width: 100%;
  }
  .navbar-navCss .nav-item .dropdown-menu { 
    background-color: #0b2064;
    border-radius: 15px;
    margin-right: 95px;
  }
  .navbar-navCss .nav-item .dropdown-menu li {
    padding: 10px;
  }
  .navbar-navCss .nav-item .dropdown-menu li:hover {
   background-color: #f0f0f0;
  }
  .navbar-navCss .nav-item .dropdown-menu li:hover a {
    color: #0f2570!important;
   }
   .nav-link i{
    font-size: 28px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
   }
   .dropdown-toggle::after{
      display: none!important;
   }
   .text-smart h1{
    font-size: 40px!important;
    margin-top: -45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .text-smart p{
    font-size: 18px!important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   .cta-horizontal .cta-button {
    background-color: #142568;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: -15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .cta-horizontal .cta-text p {
    margin-bottom: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

/* From Uiverse.io by gharsh11032000 */ 

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 40px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #a3bbf0;
  box-shadow: 0 0 0 2px #1947aa;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #a3bbf0;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #173e92;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #f3f3f3;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.animated-button:hover svg {
  fill: #f3f3f3;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #1c49aa;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
