<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/logomarca/logomarca.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
  <title>Back to life</title>
</head>

<body>
    <main>
        <div class="background-image position-relative">
            <div class="container-md container-fluid-sm">
              <nav class="navbar-expand-lg headerCss">
                  <a class="navbar-brand col-sm-2 mt-4" href="/">
                      <img src="../static/logomarca/logomarca.png" alt="Logomarca">
                  </a>

                  <div class="navbar-collapse justify-content-end mt-4 d-flex" id="hero">
                    <ul class="navbar-navCss">
                        <li class="nav-item d-none d-md-block">
                            <a href="/sou-reabilitacao" class="btn text-white" style="border: none;">
                                Sou Casa de Reabilitação
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="/sou-instituicao" class="btn text-white" style="border: none;">
                                Sou Instituição de Ensino
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="/sobre-nos" class="btn text-white" style="border: none;">
                                Sobre Nós 
                            </a>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href="/login" class="btn text-white" style="border: none;">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -4px;" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                    <span class="usuario-conta boldIcon" id="usuario-conta">Login</span>
                                </div>
                            </a>
                        </li>
                
                        <!-- Dropdown para dispositivos móveis -->
                        <li class="nav-item dropdown d-md-none">
                          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-menu-line"></i> <!-- Ícone de menu hambúrguer -->
                          </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="/login">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -4px;" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                        </svg>
                                        <span class="usuario-conta boldIcon" id="usuario-conta">Login</span>
                                    </div>
                                </a></li>
                                <li><a class="dropdown-item" href="/sou-reabilitacao">Sou Casa de Reabilitação</a></li>
                                <li><a class="dropdown-item" href="/instituicoes-ensino">Sou Instituição de Ensino</a></li>
                                <li><a class="dropdown-item" href="/sobre-nos">Sobre Nós</a></li>
                            </ul>
                        </li>
                    </ul>
                  </div>
              </nav>   
            </div>

          <div class="container mt-4 hero-section">
            <div class="row align-items-end" style="color: whitesmoke;">
              <div class="col-md-4 text-center d-none d-md-block">
                <div>
                  <img src="../static/background/logo1-removebg-preview.png" alt="Logomarca" class="img-fluid">
                </div>
                <div>
                  <h3 class="text-uppercase">BACK TO LIFE</h3>
                </div>
              </div>
              
              <div class="text-smart col-md-8 text-left mt-4">
                <h1 class="mb-4" style="letter-spacing: 0.3px;">Assegure sua capacitação e retome sua trajetória no mercado de trabalho!</h1>
                <p>Nossa plataforma em parceria com grandes instituições de ensino oferecem os melhores cursos técnicos para ajudar na sua reinserção ao mercado de trabalho.</p>   
              </div>
            </div>
          </div>
        </div>

        <section class="section-locais">
              <div class="container-fluid-md">
                    <div class="title-locais text-uppercase container">
                        <h1>Cursos disponíveis</h1>
                    </div>
                
                      <div class="locais-container container-md">
                        <div class="row mt-4">
                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Instalação de Painéis e Suportes</h5>
                                              <p class='card-text'>Aprenda a instalar suportes para TV, painéis e outros acessórios residenciais.</p>
                                              
                                                <img src="../static/cursos/curso1.jpg" class="card-img-top mx-auto" alt="Curso 1">
                                         
                                                <a href="/curso-andamento" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>

                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Excel para Negócios</h5>
                                              <p class='card-text'>Descubra como otimizar suas planilhas e automatizar processos no dia a dia empresarial.</p>
                                              
                                                <img src="../static/cursos/curso2.jpg" class="card-img-top mx-auto" alt="Curso 2">
                                         
                                                <a href="/curso-andamento" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>

                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Técnicas Básicas de Corte de Cabelo</h5>
                                              <p class='card-text'>Inicie sua jornada como cabeleireiro aprendendo cortes simples e tendências.</p>
                                              
                                                <img src="../static/cursos/curso3.jpg" class="card-img-top mx-auto" alt="Curso 3">
                                         
                                              <a href="/curso-andamento" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>
                        </div>
                      </div>
              </div>
        </section>

        <div class="cta-horizontal">
          <div class="container-md container-fluid d-md-flex d-block justify-content-between">
              <div class="cta-text">
                <h2>Transforme Seu Futuro!</h2>
                <p>Explore nossa plataforma e encontre o curso ideal para você. Comece agora!</p>
              </div>
              
              <a href="/cursos-disponiveis" style="text-decoration: none;" ><button class="animated-button">
                <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
                <span class="text">Ver Todos os Cursos</span>
                <span class="circle"></span>
                <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
              </button></a>
          </div>
        </div>     
     </main>

     <footer class="main-footer py-2 text-white">
      <div class="container">
        <div class="d-flex flex-column flex-md-row mt-4 justify-content-between align-items-start">
          <!-- Logo -->
          <div class="col-12 col-md-auto mb-3 mb-md-0">
            <a href="/">
              <img loading="lazy" src="../static/logomarca/logomarca.png" class="logo-image">
            </a>
          </div>
  
          <!-- Links -->
          <div class="col-12 col-md-auto">
            <ul class="list-unstyled nossosProdutos d-flex flex-column flex-md-row text-start text-md-end">
              <li class="mb-2 mb-md-0"><a href="/sou-reabilitacao" class="text-white" style="margin-right: 15px;">Sou Casa de Reabilitação</a></li>
              <li class="mb-2 mb-md-0"><a href="/sou-instituicao" class="text-white" style="margin-right: 15px;">Sou Instituição de Ensino</a></li>
              <li class="mb-2 mb-md-0"><a href="/sobre-nos" class="text-white" style="margin-right: 15px;">Sobre Nós</a></li>

            </ul>
          </div>
        </div>
  
        <div class="copy mb-3 mt-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="col-md-6">
              <p class="text-white">
                &copy; <span id="currentYear"></span>
                <a href="https://www.instagram.com/yoursystem_br/" style="color: #fff; font-weight:400;">@unit</a>. 
                Todos os direitos reservados.
              </p>
            </div>
  
            <div class="col-md-6 text-end">
              <address class="text-white">
               Av. Mal. Mascarenhas de Morais, 3905 | Imbiribeira, Recife - PE
              </address>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>
  
  <!--  bibliotecas -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Incluindo Bootstrap CSS e JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  </body>
  </html>                                