<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
  <title>Back to life</title>
</head>

<body>
    <style>
        .dropdown-toggle::after{
        display: none;
        }
    </style>
    <main>
        <div class="background-image position-relative">
        <div class="container">
            <nav class="navbar-expand-lg headerCss">
                <a class="navbar-brand col-sm-2 mt-4" href="index.html">
                    <img src="../assets/logomarca/logomarca.png" alt="Logomarca">
                </a>

                <div class="navbar-collapse justify-content-end mt-4" id="hero">
                    <ul class="navbar-navCss">
                          <li class="nav-item">
                              <a href="instituicoes-reabilitacao.html" class="btn text-white dropdown-toggle" style="border: none;" id="dropdown-conta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sou Casa de Reabilitação
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="instituicoes-ensino.html" class="btn text-white dropdown-toggle" style="border: none;" id="dropdown-conta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sou Instituição de Ensino
                              </a>
                          </li>
                          <li class="nav-item">
                              <a href="sobre-nos.html" class="btn text-white dropdown-toggle" style="border: none;" id="dropdown-conta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Sobre Nós 
                              </a>
                          </li>
                            <li class="nav-item" id="showFormReservas" data-form="#myFormReservas">
                                <a href="login.html" class="btn text-white dropdown-toggle" style="border: none;" id="dropdown-conta" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div>
                                      <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -4px;" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                        </svg>
                                        <span class="usuario-conta boldIcon" id="usuario-conta">Login</span>
                                    </div>
                                  </a>
                            </li>
                    </ul>
                </div>   
            </nav>   
          </div>

          <div class="container mt-5 hero-section">
            <div class="row align-items-end" style="color: whitesmoke;">
              <div class="col-md-4 text-center">
                <div>
                  <img src="../assets/background/logo1-removebg-preview.png" alt="Logomarca" class="img-fluid">
                </div>
                <div>
                  <h3 class="text-uppercase">BACK TO LIFE</h3>
                </div>
              </div>
              
              <div class="col-md-8 text-left mt-4">
                <h1 class="mb-4">Garanta seu aprendizado e retorne ao mercado de trabalho!</h1>
                <p>Nossa plataforma em parceria com grandes instituições de ensino oferecem os melhores cursos técnicos para ajudar na sua reinserção ao mercado de trabalho.</p>   
              </div>
            </div>
          </div>
        </div>

        <section class="section-locais">
              <div class="container-fluid smartContainer">
                    <div class="title-locais text-uppercase container">
                        <h1>Cursos disponíveis</h1>
                    </div>
                
                      <div class="locais-container container">
                        <div class="row mt-4">
                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Instalação de Painéis e Suportes</h5>
                                              <p class='card-text'>Aprenda a instalar suportes para TV, painéis e outros acessórios residenciais.</p>
                                              
                                                <img src="../assets/cursos/curso1.jpg" class="card-img-top mx-auto" alt="Curso 1">
                                         
                                                <a href="curso-andamento.html" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>

                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Excel para Negócios</h5>
                                              <p class='card-text'>Descubra como otimizar suas planilhas e automatizar processos no dia a dia empresarial.</p>
                                              
                                                <img src="../assets/cursos/curso2.jpg" class="card-img-top mx-auto" alt="Curso 2">
                                         
                                                <a href="curso-andamento.html" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>

                            <div class="card-local col-md-4">
                                  <div class='card' style='border-radius:10px;'>
                                      <div class='card-body'>
                                              <h5 class='card-title'>Técnicas Básicas de Corte de Cabelo</h5>
                                              <p class='card-text'>Inicie sua jornada como cabeleireiro aprendendo cortes simples e tendências.</p>
                                              
                                                <img src="../assets/cursos/curso3.jpg" class="card-img-top mx-auto" alt="Curso 3">
                                         
                                              <a href="curso-andamento.html" class='btn btn-escolherCarro w-100'>Ver Curso</a>
                                      </div>
                                  </div>
                            </div>
                        </div>
                      </div>
              </div>
        </section>

        <div class="cta-horizontal">
          <div class="container d-flex justify-content-between">
              <div class="cta-text">
                <h2>Transforme Seu Futuro!</h2>
                <p>Explore nossa plataforma e encontre o curso ideal para você. Comece agora!</p>
              </div>
              <a href="#" class="cta-button text-uppercase">Ver Todos os Cursos</a>
          </div>
        </div>     
     </main>

     <footer class="main-footer py-2 text-white">
      <div class="container">
        <div class="d-flex flex-column flex-md-row mt-4 justify-content-between align-items-start">
          <!-- Logo -->
          <div class="col-12 col-md-auto mb-3 mb-md-0">
            <a href="index.html">
              <img loading="lazy" src="../assets/logomarca/logomarca.png" class="logo-image">
            </a>
          </div>
  
          <!-- Links -->
          <div class="col-12 col-md-auto">
            <ul class="list-unstyled nossosProdutos d-flex flex-column flex-md-row text-start text-md-end">
              <li class="mb-2 mb-md-0"><a href="instituicoes-reabilitacao.html" class="text-white" style="margin-right: 15px;">Sou Casa de Reabilitação</a></li>
              <li class="mb-2 mb-md-0"><a href="instituicoes-ensino.html" class="text-white" style="margin-right: 15px;">Sou Instituição de Ensino</a></li>
              <li class="mb-2 mb-md-0"><a href="sobre-nos.html" class="text-white" style="margin-right: 15px;">Sobre Nós</a></li>
              <li class="mb-2 mb-md-0"><a href="suporte.html" class="text-white">Suporte</a></li>
            </ul>
          </div>
        </div>
  
        <div class="copy mb-3 mt-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="col-md-6">
              <p class="text-white">
                &copy; <span id="currentYear"></span>
                <a href="https://www.instagram.com/yoursystem_br/" style="color: #fff; font-weight:400;">@unit</a>. 
                Todos os direitos reservados.
              </p>
            </div>
  
            <div class="col-md-6 text-end">
              <address class="text-white">
               Av. Mal. Mascarenhas de Morais, 3905 | Imbiribeira, Recife - PE
              </address>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>
  
  <!--  bibliotecas -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
  </html>                                